body {
  margin: 0;
  width: 100vw;
  font-family: 'Press Start 2P', sans-serif;
  background-image: url("https://lh3.googleusercontent.com/JyenXhZWVzcKaK3VDe0aBJ1DdHWQZQEKvIoRHPGd7NbA46hS7O04LKW6amNw_v6KsV5NLYgOqhgvhOL4XQA3bLkEDkeWScSC9Kl-cOhebC7mVBCZjEgG3onP_LgTLD2YX0wnFDaodg=w2400");
  background-size: cover;
}

#app {
  width: 30em;
  margin: 3em auto;
  padding: 1.5em;
  border-radius: 1em;
  background-color: rgba(0,0,0,0.7);
}

#app h1 {
  width: fit-content;
  margin: 1em auto;
  font-size: 21px;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
}

#new-task {
  margin-left: 4.5em;
  margin-bottom: 1em;
  width: 25.5em;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
  padding: 5px;
  border: 5px groove gray;
  border-radius: 5px;
  background: rgba(255,255,255,0.7);
}

.task input[type=checkbox] {
  padding: 1px;
  margin-right: 1em;
  display: inline-block;
  background-color: white;
}

.task.done p {
  text-decoration-line: line-through;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
}

.task button.del {
  margin-left: 1em;
  margin-right: 1em;
  color: white;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 5px groove gray; /* Gray border around the box */
  border-radius: 5px; /* Rounded corners on the box */
  background: rgba(0,0,0,0.7); /* 50% transparent box */
}

.task p {
  display: inline-block;
  font-size: 0.8em;
  font-family: 'Press Start 2P', sans-serif;
  color: white;
}
